<%- include("partials/header"); -%>
<br>
<br>
<br><br><br>
<h1>HOME</h1>
<p><%= startingContent %> </p>

<%console.log(posts);%>

  <%posts.forEach(function(post){%>
  <h1><%=post.title%></h1>
  <p><%=post.content%><a href="/posts/<%=post._id%>"></a></p>
<%  })%>



<%- include("partials/footer"); -%>
